body{
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
  }
  

.body{
    background-color:rgb(157, 109, 201);
    width: 100%;
    height: 100px;
    transition: 0.9s;
    margin: 0px;
    padding: 0px;
    color: rgb(227, 208, 247);
}
.body:hover{
    color:hsl(271, 100%, 94%);

}

.titalup{

align-items: center;
font-size: 30px;
text-align: center;
font-family: fontfarsi;
transition: 1s ;
}

.titalup:hover{
font-size: 35px;
letter-spacing: 3px;
}

.button{
    background-color: rebeccapurple;
    border-radius: 5px;
    border: 1px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: white;
    font-family: fontfarsi;

    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: 1.4s;
}

.button:hover{
    background-color:hsl(271, 100%, 94%) ;
    color: rebeccapurple;
    letter-spacing: 2px;

}

.deftext{
    font-family: fontfarsi;
    font-size: 20px;
    position: absolute;
    right: 0;
    padding-right: 30px;
    text-align: right;
    margin-top: -20px;
    letter-spacing: 1px;
    transition: 0.7s;
    user-select: none;
}
.deftext:active{
    letter-spacing: 2px;
    font-size: 25px;
}

.donebutt{
    width: 100%; 
    height: 60px;
     font-family: fontfarsi;
     letter-spacing: 1px;
      background-color: rgb(82, 16, 145);
       color: white ;
            border: 0;
             font-size: 30px;
              transition: 1s;
}

.donebutt:hover {
    letter-spacing: 6px;
}

@font-face {
    font-family: fontfarsi;
    src: url(Lalezar.woff);
  }